* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --gray-50: #F7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494D4B;

  --first: #73305D;
  --second: #846A8A;
  --thirth: #89A7A7;
  --fourth: #2BCAB2;
  --fifth: #BCDCD0;
}